.container {
  .tagsWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .tag {
      cursor: pointer;
      border: 1px solid var(--purple-100);
      color: var(--purple-100);
      padding: 0.625rem 0.9375rem;
      border-radius: 9999px;
      transition: 0.2s all ease-in-out;

      &:hover {
        background-color: var(--purple-200);
        color: var(--gray-100);
      }
    }

    .selected {
      background-color: var(--purple-200);
      color: var(--gray-100);
      border: 1px solid var(--purple-200);
    }
  }
}
