.container {
  display: flex;
  padding: 1.125rem;
  gap: 1.5625rem;
  background-color: var(--gray-700);
  border: 2px solid var(--gray-700);
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  margin-bottom: 1.25rem;

  &:hover {
    border: 2px solid var(--gray-600);
  }

  .iconFilled {
    svg {
      color: var(--purple-100);
      font-size: 20px;
    }
  }

  .iconEmpty {
    svg {
      color: var(--purple-100);
      font-size: 20px;
    }
  }

  .disabled {
    opacity: 1;
  }

  .bookInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .titleAndAuthor {
      display: flex;
      flex-direction: column;
      gap: 0.625rem;
      p {
        font-size: 0.875rem;
        font-weight: 400;
        color: var(--gray-400);
      }
    }
  }
}
